
# Environment
.env
.venv
__pycache__
*.pyc

# Caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# IDEs
.vscode
.idea

# Data Volumes
minio-data/
demo/minio-data/

# Demo
demo/

# Frontend
frontend/

# Tests (not needed in prod image)
tests/

# Git
.git
.gitignore
